<header class="home-header">
    <span class="team-logo">Snack<span class="bold">Overflow</span></span>
    <a class="project-title" href="{% url 'main:home' %}">ExoIdentifier</a>
    <div class="nav-menu-toggler" role="button" aria-label="Toggle navigation" tabindex="0">
        <div class="nav-menu-toggler-line" id="nav-menu-line-1"></div>
        <div class="nav-menu-toggler-line" id="nav-menu-line-2"></div>
        <div class="nav-menu-toggler-line" id="nav-menu-line-3"></div>
    </div>
</header>
